#body {
    background-image: url("../images/zedge_meta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.resize {
    width: 10vh;
    height: 10vh
}